html {
    background: url("/img/background.png");
}

footer {

  color: white;

}

#divLobby {

   background: url("/img/background.png");
   border:5px solid green;


}

#divTab {

   border:5px solid black;

}

h4 {

  text-align: center;

}
